DATABASE_URL=postgresql://postgres:PASSWORD@db.PROJECT.supabase.co:6543/postgres
ADMIN_PASSWORD=
IP_SALT=
NEXT_PUBLIC_SITE_URL=https://yesbroker.xyz
UPSTASH_REDIS_REST_URL=xyz.upstash.io
UPSTASH_REDIS_REST_TOKEN=xxxx